body {
	background: url("images/ge_body_bg-297x415.gif");
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #696969;
	font-size:12px;
	margin:0px;
}
.clear {clear:both;}
#appView {
	width: 993px;
	margin: 0 auto;
}
a {
	color: #f92911;
}
h3 {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 1px;
}
/***** vStore CSS Start *****/
.zborder {
    border: 1px solid #CCCCCC;
}
.zbox {
    border: 1px solid #505050;
}

.zbox_head {
    background: url("images/ge10_head-1x32.png") repeat-x scroll center top #000000;
    padding: 6px 10px;
}
.zbox_body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 10px;
}
.zbox_head {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 11px;
}
.ztxt {
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
}
/***** vStore CSS End *****/

/***** appPreView CSS Start *****/
#appPreView {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #6B6B6B;
    border-radius: 12px;
    color: #333333;
    margin: 10px auto;
    padding: 10px;
    width: 400px;
}
#appPreView .logo {
	display:block;
	margin: 0 auto;
}
#appPreView #loader {
	text-align:center;
}
/***** appPreView CSS End *****/

/***** Top Bar CSS Start *****/
#topBar {
	position: relative;
	height: 138px;
	z-index:1;
}
.logoSection {
	position:absolute; 
	top:6px; 
	left:5px; 
	z-index:40;
}
.headerBarLinks {
	width:350px;
	float:right;
}
.headerBarLinks > ul {
    float: left;
    color: #FFFFFF;
	font-size: 10px;
	margin: 5px 0px;
	padding:0px;
}
.headerBarLinks li {
    display: inline;
    padding: 0 3px;
}
.headerBarLinks a {
    color: #FFFFFF;
    text-decoration: none;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 10px;
}
.headerBarLinks a:hover {
	text-decoration:underline;
}
.topBarCartImg {
    padding: 6px 5px 0 40px;
}
.productSearchForm {margin:6px 0px 0px;}
.searchBar {
	width: 240px;
	height:20px;
	border:2px solid #6b6b6b;
}
.searchBtn {
	background: none repeat scroll 0 0 #222222;
    border: 1px solid #6B6B6B;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    height: 26px;
}

.topNav {
	position:absolute; 
	top:100px; 
	left:0px; 
	width:100%; 
	z-index:10; 
	height:38px; 
	background: url("images/ge_topnav_mid-1x38.gif") repeat-x;
	border-radius:10px 10px 0px 0px;
	text-align:center;
}
.mainNavContainer {
	float:right;
	width: 840px;
	margin-top:5px;
}
.mainNavContainer div {
	font-weight: light;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	color: 	#F0F5ee;
	line-height: 22px;
	}
.mainNavContainer div:hover	{
	color: #222222;
	}
.mainNavContainer .mainNavLinks{
	display:block;
	position:relative;
}
.mainNavContainer > div{float:left; position:relative;}
.mainNavLine{
	border-right: 2px solid #444444;
	height: 24px;
	margin-top:4px;
	padding: 0px 6px;
}
.lastNavOption{
	padding:4px 0px 2px 6px;
}
.dropdown {
	overflow: hidden;
	background: #6b6b6b;
	position: absolute;
	z-index:999;
	top:32px;
	left: 0px;
	height: 0px;
	border-radius: 0px 0px 7px 7px;
	border:1px solid #444444;
	border-top: 0px;
	text-align:left;
}
.dropdown > div {
    border-top: 1px solid #444444;
    font-size: 11px;
	font-weight:normal;
    line-height: 30px;
    padding: 0 12px;
}
/***** Top Bar CSS End *****/


/***** Content Area CSS Start *****/
#container {
	background: #6B6B6B;
}
.contentArea {
	border-radius:12px;
	background:#ffffff;
	margin:0px 5px;
	width:962px;
	padding:10px;
	float:left;
}

/***** Content Area CSS End *****/


/***** Container Footer CSS Start *****/
.containerFooter {
	background: url("images/ge_footernav_bg-1x42.gif") repeat-x scroll center bottom #6B6B6B;
	height:30px;
}
/***** Container Footer CSS End *****/


/***** Homepage CSS Start *****/
.homepageSectionLeft {
	float:left;
	width:690px;
}
.homepageSectionRight {
	float:right;
	width: 257px;
}
.homepageBanners {
	width: 530px; 
	margin: 0 auto;
}
/***** Homepage CSS End *****/
