body {
	background: #E5E5E5;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #696969;
	font-size:12px;
	margin:0px;
}
.clear {clear:both;}
#appView {
	width: 993px;
	margin: 0 auto;
}
#appNav{
	display:none;
}
a {
	color: #3990FA;
}
h3 {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 1px;
}
/***** vStore CSS Start *****/
.zborder {
    border: 1px solid #CCCCCC;
}
.zbox {
    border: 1px solid #505050;
}

.zbox_head {
    background: url("images/ge10_head-1x32.png") repeat-x scroll center top #000000;
    padding: 6px 10px;
}
.zbox_body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 10px;
}
.zbox_head {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 11px;
}
.ztitle {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.ztxt {
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
	margin:0px;
}
/***** vStore CSS End *****/

/***** appPreView CSS Start *****/
#appPreView {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #6B6B6B;
    border-radius: 12px;
    color: #333333;
    margin: 10px auto;
    padding: 10px;
    width: 400px;
}
#appPreView .logo {
	display:block;
	margin: 0 auto;
}
#appPreView #loader {
	text-align:center;
}
/***** appPreView CSS End *****/

/***** Top Bar CSS Start *****/
#topBar {
	position: relative;
	height: 144px;
	z-index:1;
}
.logoSection {
	position:absolute; 
	top:6px; 
	left:5px; 
	z-index:40;
}
.headerBarLinks {
	width:400px;
	float:right;
	margin-top:3px;
}
.headerBarLinks > ul {
    float: left;
    color: #3990FA;
	font-size: 10px;
	margin: 5px 0px;
	padding:0px;
}
.headerBarLinks li {
    display: inline;
    padding: 0 3px;
}
.headerBarLinks a {
    color: #3990FA;
    text-decoration: none;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
	font-weight:bold;
}
.headerBarLinks a:hover {
	text-decoration:underline;
}
.topBarCart {
	display:block;
	margin:5px 0px;
}
.topBarCart img {
    padding: 1px 5px 0 35px;
}
.productSearchForm {margin-top:25px;}
.searchBar {
	width: 240px;
	height:20px;
	border:1px solid #6b6b6b;
}
.searchBtn {
	background: none repeat scroll 0 0 #6B6B6B;
    border: 1px solid #555555;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
}

.topNav {
	position:absolute; 
	top:92px; 
	left:0px; 
	width:100%; 
	z-index:10; 
	height:52px; 
	background: url("images/ge_topnav_mid-1x38.gif") repeat-x #6B6B6B;
	border-radius:10px 10px 0px 0px;
	text-align:center;
}
.mainNavContainer {
	margin:19px 13px 0px;
}
.mainNavContainer div {
	font-weight: light;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	color: 	#F0F5ee;
	line-height: 22px;
	}
.mainNavContainer div:hover	{
	color: #3990FA;
	}
.mainNavContainer .mainNavLinks{
	display:block;
	position:relative;
}
.mainNavContainer > div{float:left; position:relative;}
.mainNavLine{
	border-right: 2px solid #F0F5ee;
	height: 24px;
	margin-top:4px;
	padding: 0px 7px;
}
.lastNavOption{
	padding:4px 0px 2px 6px;
}
.dropdown {
	overflow: hidden;
	background: #b2b2b2;
	position: absolute;
	z-index:999;
	top:32px;
	left: 0px;
	height: 0px;
	border-radius: 0px 0px 7px 7px;
	border:1px solid #6b6b6b;
	border-top: 0px;
	text-align:left;
}
.dropdown > div {
    border-top: 1px solid #6b6b6b;
    font-size: 12px;
	font-weight:normal;
    line-height: 30px;
    padding: 0 12px;
}
/***** Top Bar CSS End *****/


/***** Content Area CSS Start *****/
#container {
	background: #6B6B6B;
	width:100%;
}
.contentArea {
	border-radius:12px;
	background:#ffffff;
	margin:0px 5px;
	width:962px;
	padding:10px;
	float:left;
}

/***** Content Area CSS End *****/


/***** Sidebar Right CSS Start *****/
#sidebarRight {
	width:163px;
	padding:0px 2px;
	float:right;
	background: #6B6B6B;
	text-align:center;
}
#sidebarRight img {
    margin-bottom: 4px;
}
#miniCart img{
	margin:0px;
}
.miniCart {
    background: url("images/ge_leftbox_bot-155x10.gif") no-repeat scroll center bottom #FFFFFF;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 155px;
}
.miniCartProdlist li {
    height: auto;
    margin: 0;
    padding: 5px;
    width: 145px;
		font-size:10px;
	font-family:Arial,​Verdana,​Helvetica,​sans-serif;
}
.miniCartImage{float:left; width:45;}
.miniCartText {float:right; width:95px; text-align:left;}
.miniCartProdName{
	font-weight:bold;
	color:#666666;
}
.miniCartSku .stid {
    color: #3990FA;
    text-decoration: underline;
}
.miniCartProdlist .qtyInput.numberInput {
    width: 15px;
}
.miniCartTotals {
	color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
	padding:2px 5px;
	border-bottom:1px solid #CCCCCC;
}
.miniCartLinks{
	margin-top:2px;
	font-family:Arial,​Verdana,​Helvetica,​sans-serif;
}
/***** Sidebar Right CSS End *****/


/***** Footer CSS Start *****/
#footer {
	height:100px;
}
.topFooter{
	background: url("images/ge_footernav_bg-1x42.gif") repeat-x scroll center bottom #6B6B6B;
	height:60px;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
}
.footerLinks {
	width:415px;
	float:left;
	padding:10px 8px;
}
.topFooter a {
	color:#ffffff;
	padding:0px 2px;
	text-decoration:none;
}
.topFooter a:hover {
	text-decoration:underline;
}
.footerButtons {
	float:right; 
	padding:15px 8px;
}
.bottomFooter {
	height:40px;
	padding:4px 8px 0px;
}
.bottomFooter p{
	margin:0px;
	font-size:10px;
}
.bottomFooter a {
	color:#696969;
}
.bottomFooter img {
	padding:5px 1px;
}
/***** Footer CSS End *****/


/***** Homepage CSS Start *****/
.homepageSectionLeft {
	float:left;
	width:690px;
}
.homepageSectionRight {
	float:right;
	width: 257px;
}
.homepageCatList {
    display: inline;
    list-style: none outside none;
}
.homepageCatList > li {
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.homepageCatList a {
    padding: 0 9px;
}
.homepageBanners {
	width: 530px; 
	margin: 0 auto;
}
/***** Homepage CSS End *****/

/***** Company Page CSS Start *****/
.mainColumn {
	width:750px;
}
.policyPageTitle {
	margin-bottom:10px; 
	border-bottom:2px solid #1a74e2; 
	text-align:left;
}
.policyPageTitle h1 {
	font-size:18px; 
	font-style:italic; 
	font-weight:bold; 
	margin:0px 1px 1px 0px; 
	color:#444444;
}
.sideline {
	border:1px solid #444444;
	padding:5px;
}
/***** Company Page CSS End *****/


/***** Category Page CSS Start *****/
h2 {color:#666666; font-size:15px;}
.categoryList {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.categoryList > li {
    height: 135px;
    width: 109px;
}
.catName {
    color: #F92911;
    font-size: 12px;
    font-weight: bold;
}
/***** Category Page CSS End *****/

/***** Wiring Category Page CSS Start *****/
.categoryTemplateWiring .categoryList {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.categoryListWiringDiagrams > li{
	width:100%;
	height:100%;
	margin:0px;
}
.catNameWiringDiagram{
	background: url("images/ge10_head-1x32.png") repeat-x center top;
	padding:6px 10px;
	font-size:11px;
	color:#ffffff;
}
.productListWiringDiagram > li{
	margin: 3px 5px;
}
.productListWiringDiagram .prodListName {
	font-size:13px;
}
/***** Wiring Category Page CSS End *****/


/***** ProdListTemplate CSS Start *****/
.productList > li {
    height: 215px;
    position: relative;
    width: 109px;
}
.quickView {
	background:#ffffff;
	color:#981b1e;
	border:1px solid #6b6b6b;
	border-radius:4px;
	font-size:12px;
	font-style: italic;
	font-weight:bold;
	padding:2px;
}
.prodListName {
	color:#3990FA;
	font-weight:bold;
}
.ztxt.price {
    margin-top: 3px;
}
.productList .prodViewerAddToCartForm {
    bottom: 8px;
    margin: 0;
    position: absolute;
}
.addToCartBtn.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    background: url("images/ge_btn_add_4pl-87x18.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    height: 23px;
    width: 90px;
}
/***** ProdListTemplate CSS End *****/

/***** ProductTemplate CSS Start *****/
.productPage {
	color:#000000;
}
.imageContainer {
	padding-right:20px;
}
.imageContainer img {
    border: 1px solid #CCCCCC;
}
.prodViewerContainer .prodThumbs div {
	margin: 5px 0px 0px;
}
.prodSummaryContainer .policyPageTitle h1 {
    font-size: 16px;
}
.ztitle.prodPrice {font-size:13px;}
.ui-button.ui-button-text.ui-corner-all.ui-state-default.addToCartButton {
    background: url("images/ge10_add_to_cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    font-size: 0;
    height: 28px;
    width: 145px;
}
.prodMfg .underline {
    color: #3990FA;
}
.prodMSRP {
    padding-left: 3px;
    text-decoration: line-through;
}
.basePrice {
	font-weight:bold;
}
.savings {
	color:#006600;
}
.prodlistRelatedContainer h2{
	background:#efefef;
	color:#000000;
	padding:4px 10px;
}
/***** ProductTemplate CSS End *****/

/***** CartTemplate CSS Start *****/
.cartStuffContainer{width:54%;}
.cartSummaryTotalsContainer{width:1%; min-width:450px;}
.cartProdlist {
    background: url("images/cartlistbg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.cartProdlist > li {
    height: 72px;
    margin: 0;
    padding: 5px 0;
	border-bottom:1px solid #CFCFCF;
}
.cartThumb{
	margin: 0px 10px;
}
.cartSummaryTotalsContainer .cartSummaryContainer{padding:7px;}
.checkoutButtonsContainer > span {margin:0px 5px 5px 0px;}
.ui-widget-header.ui-helper-clearfix.ui-corner-all.ui-header {
    font-size: 12px;
}
.ui-button-text-only.ui-button.ui-state-default.ui-corner-all.continueShoppingButton {
    background: url("images/redbtn_bg.jpg") repeat-x scroll 0 0 #561e1e;
    color: #FFFFFF;
	border:1px solid #561E1E;
	border-radius:14px;
	width:140px;
}
.continueShoppingButton .ui-button-text {
    font-size: 16px;
	font-weight:bold;
    line-height: 24px;
    padding: 0px;
}
.ui-button.ui-button-text-only.ui-state-highlight.ui-corner-all.checkoutButton {
    background: url("images/greenbtn_bg.jpg") repeat-x scroll 0 0 #25572A;
    color: #FFFFFF;
	border:1px solid #25572A;
	border-radius:14px;
	width:130px;
}
.checkoutButton .ui-button-text {
    font-size: 16px;
    line-height: 24px;
    padding: 0px;
}
/***** CartTemplate CSS End *****/
/***** CheckoutTemplate CSS Start *****/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #6B6B6B;
}
.placeOrderButton.ui-state-highlight.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
	background:none;
	border:none;
}
/***** CheckoutTemplate CSS End *****/