body {
	background: url("images/ge_body_bg-297x415.gif");
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #696969;
	margin:0px;
}
.clear {clear:both;}
#appView {
	width: 993px;
	margin: 0 auto;
}

/***** appPreView CSS Start *****/
#appPreView {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #6B6B6B;
    border-radius: 12px;
    color: #333333;
    margin: 10px auto;
    padding: 10px;
    width: 400px;
}
#appPreView .logo {
	display:block;
	margin: 0 auto;
}
#appPreView #loader {
	text-align:center;
}
/***** appPreView CSS End *****/

/***** Top Bar CSS Start *****/
#topBar {
	position: relative;
	height: 138px;
	z-index:1;
}
.logoSection {
	position:absolute; 
	top:6px; 
	left:5px; 
	z-index:40;
}
.headerBarLinks {
	width:350px;
	float:right;
}
.headerBarLinks > ul {
    float: left;
    color: #FFFFFF;
	font-size: 10px;
	margin: 5px 0px;
	padding:0px;
}
.headerBarLinks li {
    display: inline;
    padding: 0 3px;
}
.headerBarLinks a {
    color: #FFFFFF;
    text-decoration: none;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 10px;
}
.headerBarLinks a:hover {
	text-decoration:underline;
}
.topBarCartImg {
    padding: 6px 5px 0 40px;
}
.productSearchForm {margin:6px 0px 0px;}
.searchBar {
	width: 240px;
	height:20px;
	border:2px solid #6b6b6b;
}
.searchBtn {
	background: none repeat scroll 0 0 #222222;
    border: 1px solid #6B6B6B;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    height: 26px;
}

.topNav {
	position:absolute; 
	top:100px; 
	left:0px; 
	width:100%; 
	z-index:10; 
	height:38px; 
	background: url("images/ge_topnav_mid-1x38.gif") repeat-x;
	border-radius:10px 10px 0px 0px;
	text-align:center;
}

/***** Top Bar CSS End *****/


/***** Content Area CSS Start *****/
#container {
	background: #6B6B6B;
}
.contentArea {
	border-radius:12px;
	background:#ffffff;
	margin:0px 5px;
	width:983px;
	float:left;
}
/***** Content Area CSS End *****/


/***** Container Footer CSS Start *****/
.containerFooter {
	background: url("images/ge_footernav_bg-1x42.gif") repeat-x scroll center bottom #6B6B6B;
	height:30px;
}
/***** Container Footer CSS End *****/
